{% extends "base.html" %}
{% load static %}
{% load guardian_tags %}
{% load compress %}
{% block title %}Manage groups{% endblock %}
{% block content %}
<h2>Manage Groups</h2>
 <div ng-controller="GroupsController" ng-init="init({user:{{user}}})">
	    {% verbatim %}
	    {{user}}
	    <table ng-table="tableParams" class="table" show-filter="true">
		    <tr ng-repeat="group in $data">
		        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
		            {{group.name}}</td>
		        <td title="'Actions'">
		            <button ng-click="manageGroup(group)" class="btn btn-primary" ng-if="group.permissions.indexOf('manage_group') != -1">Manage</button></td>
		    </tr>
		</table>
	    {% endverbatim %}
</div>
{% verbatim %}
<script type="text/ng-template" id="manageGroup.html">
        <div class="modal-header">
            <h3 class="modal-title">Manage "{{group.name}}"</h3>
        </div>
        <div class="modal-body">
            {{group}}
		<table ng-table="groupMembers" class="table" show-filter="true">
		    <tr ng-repeat="user in $data">
		        <td title="'Username'" filter="{ username: 'text'}" sortable="'username'">
		            {{user.username}}
				</td>
		        <td title="'Permissions'">
		            </td>
		    </tr>
		</table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
{% endverbatim %}
{% endblock %}

{% block scripts %}
{{block.super}}
{% compress js %}
<script src="{% static "js/services/ng-table-services.js" %}"></script>
<script src="{% static "js/controllers/groups-controller.js" %}"></script>
<script src="{% static "js/resources/models.js" %}"></script>

{% endcompress %}
{% endblock %}