{% extends "base.html" %}
{% load static %}
{% load guardian_tags %}
{% load compress %}
{% block title %}Manage groups{% endblock %}
{% block content %}
<h2>Manage Groups</h2>
 <div ng-controller="GroupsController" ng-init="init({user:{{user}}})">
	    {% verbatim %}
	    <div class="pull-right input-append" ng-if="user.permissions.indexOf('auth.add_group') != -1"><input ng-model="new_group_name" class="form-control" placeholder="Enter group name"/><button ng-click="createGroup(new_group_name);new_group_name='';" class="btn btn-small btn-primary">Create Group</button></div>
	    <table ng-table="tableParams" class="table" show-filter="true">
		    <tr ng-repeat="group in $data track by group.id">
		        <td title="'Name'" filter="{ name__icontains: 'text'}" sortable="'name'">
		            {{group.name}}
		            <span class="pull-right">
		            	<a class="btn btn-small btn-primary" href="{{groupSharesURL(group)}}">View Shares</a>
		            	<a ng-if="user.permissions.indexOf('bioshareX.add_share') != -1" class="btn btn-small btn-primary" href="{{groupCreateShareURL(group)}}">Create Share</a>
		            	<button ng-click="manageGroup(group)" class="btn btn-small btn-primary" ng-if="user.permissions.indexOf('auth.manage_group') != -1">Manage</button>
		            	<button ng-click="deleteGroup(group)" class="btn btn-small btn-danger" ng-if="user.permissions.indexOf('auth.delete_group') != -1">Delete</button>
		            </span>
		         </td>
		            
		    </tr>
		</table>
	    {% endverbatim %}
</div>
{% verbatim %}
<script type="text/ng-template" id="manageGroup.html">
        <div class="modal-header">
            <h3 class="modal-title">Manage "{{group.name}}"</h3>
        </div>
        <div class="modal-body">
		<div class="input-append"><input type="email" ng-model="add_user" ng-change="checkUsername(add_user)" placeholder="Enter user's email address"><button class="btn btn-primary btn-sm" ng-click="addUser()" ng-disabled="!new_user">Add user</button></div>
		<table ng-table="users" class="table" show-filter="true">
		    <tr ng-repeat="user in $data">
		        <td title="'Username'" filter="{ username: 'text'}" sortable="'username'">
		            <i class="icon-trash" ng-click="removeUser(user)" title="remove user"></i> {{user.username}}
					<span class="pull-right"><label title="Allow user to manage group"><input  type="checkbox" checklist-model="user.permissions" checklist-value="'manage_group'"/> Manager</label></span>
		        </td>
		    </tr>
		</table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="disable_save">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
{% endverbatim %}
{% endblock %}

{% block scripts %}
{{block.super}}
{% compress js %}
<script src="{% static "js/services/ng-table-services.js" %}"></script>
<script src="{% static "js/controllers/groups-controller.js" %}"></script>

{% endcompress %}
{% endblock %}