{% verbatim %}
<script>
Handlebars.registerHelper('join', function(arr, delimiter) {
	var delimiter = delimiter ? delimiter : ','
	return !arr ? '' : arr.join(delimiter);
	});
Handlebars.registerHelper('list_tags', function(tags) {
	var out = "";
	  for(var i=0, l=tags.length; i<l; i++) {
	    out = out + '<span class="tag">'+tags[i]+'</span>';
	  }
	  return out;  
	return new Handlebars.SafeString(out);
	});

</script>
<script id="directory-template" type="text/x-handlebars-template">
<tr class="directory real-directory" data-id="{{name}}" data-notes="{{metadata.notes}}" data-tags="{{{join metadata.tags }}}">
<td><input class="action-check" type="checkbox"/></td>
<td>directory</td>
<td class="name" {{#if metadata.notes}}data-toggle="tooltip" title="{{metadata.notes}}"{{/if}}><i class="fam-folder"></i><a href="{{name}}">{{ name }}</a></td>
<td class="tags">{{#if metadata.tags}}{{{list_tags metadata.tags}}}{{/if}}</td>
<td></td>
<td></td>
<td></td>
<td>{{ modified }}</td>
<td><i data-toggle="tooltip" title="Add/Edit metadata" class="fam-tag-blue" data-action="edit-metadata"></i><i data-toggle="tooltip" title="Modify filename" class="fam-pencil" data-action="modify-name"></i></td>
</tr>
</script>

<script id="link-template" type="text/x-handlebars-template">
	<tr class="directory link" data-id="{{name}}" data-notes="{{metadata.notes}}" data-tags="{{{join metadata.tags }}}">
	<td><input class="action-check" type="checkbox"/></td>
	<td>directory</td>
	<td class="name" {{#if metadata.notes}}data-toggle="tooltip" title="{{metadata.notes}}"{{/if}}><i class="fam-folder-link" title="{{target}}"></i><a href="{{name}}">{{ name }}</a></td>
	<td class="tags">{{#if metadata.tags}}{{{list_tags metadata.tags}}}{{/if}}</td>
	<td></td>
	<td></td>
	<td></td>
	<td>{{ modified }}</td>
	<td><i data-toggle="tooltip" title="Add/Edit metadata" class="fam-tag-blue" data-action="edit-metadata"></i><i data-toggle="tooltip" title="Modify filename" class="fam-pencil" data-action="modify-name"></i><a href="#" data-action="unlink" title="Unlink this directory"><i class="fam-delete" ></i></a></td>
	</tr>
</script>

<script id="file-template" type="text/x-handlebars-template">
<tr class="file" data-id="{{name}}" data-bytes="{{bytes}}" data-notes="{{metadata.notes}}" data-tags="{{{join metadata.tags }}}">
<td><input class="action-check" type="checkbox"/></td>
<td>file</td>
<td class="name" {{#if metadata.notes }}data-toggle="tooltip" title="{{metadata.notes}}"{{/if}}><i class="fam-page-white"></i>{{#if download }}<a href="{{url}}">{{ name }}</a>{{else}}{{ name }}{{/if}}</td>
<td class="tags">{{#if metadata.tags }}{{{list_tags metadata.tags}}}{{/if}}</td>
<td>{{ extension }}</td>
<td>{{ size }}</td>
<td><a href="#" data-action="calculate-md5">Calculate</a></td>
<td>{{ modified }}</td>
<td><i data-toggle="tooltip" title="Add/Edit metadata" class="fam-tag-blue" data-action="edit-metadata"></i>{{#if download }}{{#if isText }}<i class="fam-eye" data-toggle="tooltop" title="Preview contents" data-action="preview"></i>{{/if}}{{/if}}<i data-toggle="tooltip" title="Modify filename" class="fam-pencil" data-action="modify-name"></i></td>
</tr>
</script>

<script id="tags-template" type="text/x-handlebars-template">
{{{list_tags this}}}
</script>
{% endverbatim %}