Django>=1.11.23,<2.0
django-appconf==1.0.2
django-compressor==2.1.1
django-crispy-forms==1.6.0
django-filter==0.13.0
django-guardian==1.4.2
django-sendfile==0.3.10
djangorestframework==3.9.4
djangorestframework-filters==0.11.1
jsonfield==1.0.3
longerusername==0.4
Markdown==2.6.5
paramiko>=2.1.6
rcssmin==1.0.6
rjsmin==1.0.12
scandir==1.5
zipstream==1.1.0
django-cors-headers
psycopg2
