Django==1.9.4
Markdown==2.6.5
MySQL-python
django-crispy-forms==1.6.0
django-filter==0.13.0
django-guardian==1.4.2
django-sendfile==0.3.10
djangorestframework==3.3.3
djangorestframework-filters==0.8.0
longerusername==0.4
zipstream==1.1.0
django-compressor
jsonfield==1.0.3
