{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<form method="post" action=".">
  <legend>Login</legend>
  {% csrf_token %} 
  {{ form|crispy }}

  <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
  {% if next%}
  <input type="hidden" name="next" value="{{next}}" />
  {% else %}
  <input type="hidden" name="next" value="{% url 'home' %}" />
  {% endif %}
  
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<h3>Update: July 15, 2015</h3>
<p>
For improved performance, Bioshare has been migrated to a new server.  In addition to hopefully being a bit snappier, Bioshare also now has support for downloading files via SFTP!  For instructions on downloading via SFTP, while viewing a share, click on "Download" then "SFTP".
</p>
<p>
Please report any issues you may encounter to <a href="mailto:webmaster@genomecenter.ucdavis.edu">webmaster@genomecenter.ucdavis.edu</a>.
</p>
{% endblock %}
