{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}{% trans "Set a new password" %}{% endblock %}

{% block content %}
{% if validlink %}
<div class="row">
  <div class="col-md-7 col-lg-6">
    <h1 class="h3 mb-3">{% trans "Set a new password" %}</h1>
    <form method="post" action="" class="border rounded bg-white p-3">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
    </form>
  </div>
</div>
{% else %}
<h1 class="h3">{% trans "Password reset failed" %}</h1>
<p>{% trans "The reset link is invalid or has expired." %}
   <a href="{% url 'password_reset' %}">{% trans "Request a new one" %}</a>.</p>
{% endif %}
{% endblock %}
