#Copy this file to config.py and customize

DEBUG = True

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'SOMEVERYLONGRANDOMSTRING'

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
ALLOWED_HOSTS = ['server.domain.net']

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'America/Los_Angeles'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', 
        'NAME': 'bioshare',   
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': '',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',                      # Set to empty string for default.
    },
}

SENDFILE_BACKEND = 'sendfile.backends.xsendfile' # may use 'sendfile.backends.simple' in development for small files, see https://github.com/johnsensible/django-sendfile

LINK_TO_DIRECTORIES = [] # Whitelist of directories that can be pointed at if symlinking shares
FILESYSTEM_DIRECTORIES = []
DIRECTORY_WHITELIST = LINK_TO_DIRECTORIES + FILESYSTEM_DIRECTORIES

AUTHORIZED_KEYS_FILE = '/home/bioshare/.ssh/authorized_keys'

RSYNC_URL = 'bioshare@server.domain.net'
RSYNC_LOGFILE = '/home/bioshare/rsync_wrapper.log'
PYTHON_BIN = '/virtualenv/bioshare/bin/python' # This is set to system python in settings.py, but you may need to override this if using virtual environments

FILES_OWNER = 'bioshare'
FILES_GROUP = 'bioshare'

ZIPFILE_SIZE_LIMIT_BYTES = 1000000000

# Set up email backend.  For options, see Django docs: https://docs.djangoproject.com/en/1.9/topics/email/#email-backends
DEFAULT_FROM_EMAIL = 'no-reply@server.domain.net'
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.domain.net'

SFTP_PORT = 2200

HOST = 'server.domain.net'
SITE_URL = 'https://server.domain.net'

SFTP_SSH_PORT = 2200
# Note, you can generate a new host key like this:
# ssh-keygen -t rsa -N '' -f host_key
SFTP_HOST_KEY = '/tmp/host_key'
#The share modified date can be updated whenever modifications are made over SFTP.  Set the minimum number of seconds between updates.
SFTP_UPDATE_SHARE_MODIFIED_DATE_FREQUENCY_SECONDS = 60

# Caching using memcached
CACHES = {
    "default": {
        "BACKEND": "django.core.cache.backends.memcached.PyMemcacheCache",
        "LOCATION": "127.0.0.1:11211",
    }
}

SESSION_ENGINE = 'django.contrib.sessions.backends.cached_db'