#file-table tr td:first-child{
	width:10px;
}
select{
	margin: 0px;
}
input.no-margin{
	margin: 0px;
}
.margin-3{
	margin:3px;
}
span.tag{
	border-radius:2px;
	font-size:14px;
	padding:4px;
	margin:1px;
	background-color:#A2E7E5;
	border: thin solid #70CCC9;
}


#preview-file {
  width: 90%; /* desired relative width */
  max-height: 90%;
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto;
}
#preview-file textarea{
	width:95%;
	height:400px;
}
.modal-body {
	max-height:600px;
}

.sidebar-nav .input-append{
	width:100%;
}
.sidebar-nav input{
	width: -moz-calc(100% - 15px);
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px);
}
.sidebar-nav .input-append input{
	width: -moz-calc(100% - 85px);
    width: -webkit-calc(100% - 85px);
    width: calc(100% - 85px);
}
.sidebar-nav{
	padding-left:5px;
	padding-right:5px;
}

#content{
	margin-top:10px;
}
.error{
	color:red;
}
.credit{
	padding-top: 20px;
	padding-left: 10px;
}