{% extends "base.html" %}
{% load static %}
{% load share_tags %}
{% block title %}Search files{% endblock %}
{% block head %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static "lib/datatables/DT_bootstrap.css" %}">
{% endblock %}

{% block content %}
 <h3>Search for {{query}}</h3>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="file-table">
	<thead>
		<tr>
			<th style="width:50%">Share</th>
			<th style="width:50%">File</th>
		</tr>
	</thead>
	<tbody>
{% for sr in results%}
{%if sr.results|length != 0 %}
{%for r in sr.results %}
<tr>
	<td><a href="{% url 'list_directory' sr.share.id %}">{{sr.share.name}}</a></td>
	<td>{% link_full_path share=sr.share subpath=r %}</td>
</tr>
{% endfor %}
{% endif %}
{% endfor %}
</tbody>
</table>

<!-- 
{% for sr in results%}
{%if sr.results|length != 0 %}
<h4>{{sr.share.name}}</h4>
{%for r in sr.results %}
<div>{{r}}</div>
{% endfor %}
{% endif %}
{% endfor %}
 -->

{% endblock %}

{% block scripts %}
{{block.super}}
<script>
</script>
<script src="{% static "lib/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "lib/datatables/datatables.filesize.js" %}"></script>
<script src="{% static "lib/datatables/DT_bootstrap.js" %}"></script>

<script>
/* Table initialisation */
$(document).ready(function() {
	$('#file-table').dataTable( {
		//"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"sPaginationType": "bootstrap",
		"oLanguage": {
			"sLengthMenu": "_MENU_ records per page"
		}
	} );
} );
</script>
{% endblock %}