{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	{% block head %}
    <meta charset="utf-8">
    <title>BIOSHARE - {% block title %}Default title{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	{% compress css %}
    <!-- Les styles -->
    <link href="{% static "lib/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "lib/famfamfam-bootstrap/css/fam-icons.css" %}" rel="stylesheet">
    <link href="{% static "lib/bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
	<link href="{% static "css/bioshare.css" %}" rel="stylesheet">
	<link href="{% static "lib/ng-table/ng-table.min.css" %}" rel="stylesheet">
    {% endcompress %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "lib/bootstrap/js/html5shiv.js"></script>
    <![endif]-->
    <script src="{% url 'jsurls'%}"></script>
    {% compress js %}
    <script src="{% static "js/django_js_utils.js" %}"></script>
    <script src="{% static "lib/jquery-1.10.1.min.js" %}"></script>
    <script src="{% static "lib/angular/angular.min.js" %}"></script>
    <script src="{% static "lib/angular/angular-resource.min.js" %}"></script>
    <script src="{% static "lib/angular/angular-route.min.js" %}"></script>
    <script src="{% static "lib/ng-table/ng-table.min.js" %}"></script>
    <script src="{% static "lib/ui-bootstrap/ui-bootstrap.min.js" %}"></script>
  	<script src="{% static "lib/angular-checklist/checklist-model.js" %}"></script>
  	{% endcompress %}
  {% endblock %}
  </head>

  <body ng-app="bioshare">

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="nav-collapse collapse">
          <span class="pull-left" style="color: white;font-size: 30px;padding: 10px;">Bioshare</span>
          <p class="navbar-text pull-right">
          {% if request.user.is_authenticated %}
              Logged in as <a href="#" class="navbar-link">{{request.user.username}}</a>  
              <a href="{% url 'logout' %}" class="navbar-link">Logout</a>
          {% else %}
          	  <a href="{% url 'login' %}" class="navbar-link">Login</a>
          {% endif %}
            </p>
            <ul class="nav pull-right">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a target="_blank" href="http://bioinformatics.ucdavis.edu/research-computing/documentation/bioshare-next-gen-user-documentation/">Help</a></li>
              {% if request.user.is_authenticated %}
              <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shares <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        	<li><a href="{% url 'list_shares'%}">List</a></li>
							<li><a href="{% url 'create_share'%}">Create</a></li>
                        </ul>
                      </li>
              <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
							<li><a href="{% url 'password_change'%}">Update Password</a></li>
                          <li><a href="{% url 'list_ssh_keys'%}">SSH Keys</a></li>
                          <li><a href="{% url 'manage_groups'%}">Manage Groups</a></li>
                        </ul>
                      </li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<div class="container-fluid" id="content">
      <div class="row-fluid">
        <div class="span3">
		{% if request.user.is_authenticated %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">System messages</li>
              <!-- <li><button class="btn btn-success" href="{% url 'create_share'%}">New Share</button></li> -->
              <li class="nav-header">Search Shares</li>
              <li><input id="share_autocomplete" type="text" data-provide="typeahead" autocomplete="off"></li>
              <li class="nav-header">Search Files</li>
              <li><form class="input-append" action="{% url 'search_files' %}"><input  type="text" name="query" placeholder="eg: *.fasta"><button style="margin-bottom:10px" class="btn btn-primary">Search</button></form></li>
              {% if bad_share_path.count != 0 %}
              	<a href="{% url 'home' %}?bad_paths" class="error"><i class="icon-warning-sign"></i> {{bad_share_path.count}} bad shares</a>
              {% endif %}
              {% if my_recent_shares|length != 0 %}
              <li class="nav-header">My Latest Shares</li>
              {% for share in my_recent_shares %}
              <li><a {% if not share.path_exists %}class="error" title="The path for this share does not exist"{% else %}title="{{share.notes}}"{% endif %} href="{% url 'list_directory' share.slug_or_id %}" data-toggle="tooltip">{% if not share.path_exists %}<i class="icon-warning-sign"></i> {%endif%}{{share.name}}</a></li>	
              {% endfor %}
              {% endif %}
              {% if shared_with_me|length != 0 %}
              <li class="nav-header">Recently shared with me</li>
              {% for share in shared_with_me %}
              <li><a {% if not share.path_exists %}class="error" title="The path for this share does not exist"{% else %}title="{{share.notes}}"{% endif %} href="{% url 'list_directory' share.slug_or_id %}" data-toggle="tooltip">{% if not share.path_exists %}<i class="icon-warning-sign"></i> {%endif%}{{share.name}}</a></li>
              {% endfor %}
              {% endif %}
            </ul>
          </div><!--/.well -->
          {% endif %}
        </div><!--/span-->
        <div class="{% if request.user.is_authenticated %}span9{% else %}span12{%endif%}">
        	{% if request.user.is_authenticated %}
        	<message-list></message-list>
			{% endif %}
			{% block content %}
     	 	{% endblock %}
        </div><!--/span-->
      </div><!--/row-->
    </div>
    {% include 'footer.html' %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    	var share_autocomplete_url = "{% url 'api_share_autocomplete'%}";
    	var preview_file_url = "{% url 'preview_file' share='000000000000000' subpath='' %}";
    </script>
    {% compress js %}
    <script src="{% static "js/resources/models.js" %}"></script>
    <script src="{% static "js/directives/message-directives.js" %}"></script>
    <script src="{% static "lib/json2.min.js" %}"></script>
    <script src="{% static "lib/handlebars.js" %}"></script>
    <script src="{% static "js/csrf.js" %}"></script>
    <script src="{% static "js/lib.js" %}"></script>
    <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "lib/jquery.bootstrap-growl.min.js" %}"></script> 
    <script src="{% static "js/bioshare.js?foobarbaz" %}"></script>
	{% endcompress%}
	{% block scripts %}{% endblock %}
	
  </body>
</html>
