{% extends "base.html" %}

{% block title %}Bioshare - Error{% endblock %}

{% block content %}
  {% if share %}
    {% if owner or user.is_superuser %}
      <a href="{% url 'delete_share' share.id %}" class="btn btn-danger pull-right margin-3"><i class="icon-trash icon-white"></i> Delete {% if share.link_to_path %}(Unlink){% endif %} Share</a>
      <a href="{% url 'edit_share' share.id %}" class="btn btn-primary pull-right margin-3"><i class="icon-edit icon-white"></i> Edit</a>
    {% endif %}
  {% endif %}
  <h3>
    {{message|safe}}
  </h3>
  {% if share and subdir %}
    You may want to try starting at <a href="{% url 'list_directory' share=share.id %}">the main directory of the share</a>.
  {% endif %}
{% endblock %}
