{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% block head %}
{{block.super}}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_upload/css/jquery.fileupload-ui.css">
{% endblock %}

{% block title %}Share contents{% endblock %}

{% block content %}
<h1>
	{{share.name}}
	{% if owner %}<a href="{% url 'delete_share' share.id %}" class="btn btn-danger pull-right margin-3">Delete Share</a>{% endif %}
	{% if "admin" in share_perms %}<a href="{% url 'share_permissions' share.id%}" class="btn btn-warning pull-right margin-3"><i class="fam-user-add"></i> Permissions</a>{% endif %}
</h1>
{% if subdir %}<h3>{{subdir}}</h3> {% endif %}
<!--  <p>
    {{ path }}
  </p>
  <p>
    {{ share.id }}
  </p>
  <p>
    {{ subdir }}
  </p>
  -->  
  <!-- {{share_perms}} <br>-->
 <ul class="nav nav-tabs" id="page-tabs">
  <li class="active"><a href="#file-tab" data-toggle="tab">Files</a></li>
  <li><a href="#search-tab" data-toggle="tab">Search</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="file-tab">
	  {% if "download_share_files" in share_perms %}
	  <div class="btn-group">
		  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
		    Download
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li><a href="#" id="download-zip">Zipfile</a></li>
		    <li><a href="#" id="download-rsync">Rsync</a></li>
		  </ul>
	  </div>
	  {% endif %}
	  {% if "write_to_share" in share_perms %}
	  <!-- The fileinput-button span is used to style the file input field as button -->
	    <div class="btn-group">
		  <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
		    <i class="icon-plus icon-white"></i>
	        <span>Files</span>
		    <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		    <li class="fileinput-button"><a href="#"  >Web</a><input id="fileupload" type="file" name="files[]" multiple></li>
		    <li><a href="#" id="upload-rsync">Rsync</a></li>
		  </ul>
	  </div>

	    <a href="#new-folder" role="button" class="btn btn-success" data-toggle="modal"><i class="icon-plus icon-white"></i>Folder</a>
	    {% if "delete_share_files" in share_perms %}
	    <a role="button" class="btn btn-danger" id="delete-button">Delete</a>
	    {% endif %}
	    <br>
	    <!-- The global progress bar -->
	    <div id="progress" class="progress progress-success progress-striped" style="display:none">
	        <div class="bar"></div>
	    </div>
	    <!-- The container for the uploaded files -->
	    <div id="files" class="files"></div>
	  <!-- End file upload -->
	  {% endif %}
	  <div id="messages"></div>
	  <table class="table table-striped table-condensed" id="file-table">
	  <thead><tr><th><input type="checkbox" id="toggle-checkbox"/></th><th>Name</th><th>Size</th><th>Modified</th></tr></thead>
	  <tbody>
	  <tr><td colspan="4" id="add-files-message" class="hidden">Currently there are no files in this share.  {% if "write_to_share" in share_perms %}Start uploading!{% endif %}</td></tr>
	  {% if subdir %}
	 	<tr class="directory"><td></td><td><a href="../"><i class="fam-folder"></i>../</a></td><td></td><td></td></tr>
	  {% endif %}
	  {% for dir in directories %}
		<tr class="directory real-directory" data-id="{{dir.name}}"><td><input class="action-check" type="checkbox"/></td><td><a href="{{dir.name}}"><i class="fam-folder"></i>{{ dir.name }}</a></td><td></td><td></td></tr>    
	  {% endfor %}
	  {% for file in files %}
		<tr class="file" data-id="{{file.name}}" data-bytes="{{file.bytes}}"><td><input class="action-check" type="checkbox"/></td><td><i class="fam-page-white"></i>{% if "download_share_files" in share_perms %}<a href="{% url 'download_file' share=share.id subpath=subdir|default_if_none:""|add:file.name %}">{{ file.name }}</a>{% else %}{{ file.name }}{% endif %}</td><td>{{ file.size }}</td><td>{{ file.modified|date:"M j, Y H:i" }}</td></tr>    
	  {% endfor %}
	  </tbody>
	  </table>
  </div>
  <div class="tab-pane" id="search-tab">
  		<input id="searchBox"><button class="btn" id="searchButton">Search</button>
  		<div id="searchResults">
  		</div>
  </div>
</div>

<div class="modal hide fade" id="new-folder">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>New Folder</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" method="POST" id="new-folder-form" action="{% if subdir %}{% url 'create_folder' share=share.id subdir=subdir %}{% else %}{% url 'create_folder' share=share.id %}{% endif %}">
	    {{ folder_form|crispy }}
  {% csrf_token %}
  </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <a href="#" class="btn btn-primary" id="create-folder">Create</a>
  </div>
</div>


<div class="modal hide fade" id="rsync-download">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Rsync files</h3>
  </div>
  <div class="modal-body">
    <h3>Download all</h3>
    <b id="rsync-download-all" style="word-wrap: break-word;"></b>
    <h3>Download selected</h3>
    <b id="rsync-download-selected" style="word-wrap: break-word;"></b>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<div class="modal hide fade" id="rsync-upload">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Rsync upload</h3>
  </div>
  <div class="modal-body">
    <b id="rsync-upload-command" style="word-wrap: break-word;"></b>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{block.super}}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{STATIC_URL}}lib/jquery_upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{STATIC_URL}}lib/jquery_upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{STATIC_URL}}lib/jquery_upload/js/jquery.fileupload.js"></script>
<script>
/*jslint unparam: true */
/*global window, $ */
    {% if subdir %}
    var upload_file_url = '{% url 'upload_file' share=share.id subdir=subdir %}';
    var delete_paths_url = '{% url 'delete_paths' share=share.id subdir=subdir %}';
    var archive_files_url = '{% url 'archive_files' share=share.id subdir=subdir %}';
    var search_url = '{% url 'api_search_share' share=share.id subdir=subdir %}';
    {% else %}
   	var upload_file_url = '{% url 'upload_file' share=share.id %}';
   	var delete_paths_url = '{% url 'delete_paths' share=share.id %}';
   	var archive_files_url = '{% url 'archive_files' share=share.id %}';
   	var search_url = '{% url 'api_search_share' share=share.id %}';
   	{% endif %}
   	var download_file_url = '{% url 'download_file' share=share.id subpath=subdir|default_if_none:""|add:"__file__" %}';
   	var goto_url = '{% url 'go_to_file_or_folder' share='000000000000000' %}';
   	var goto_url_replace = '/000000000000000/';
   	var share_perms = {{share_perms_json|safe}};
   	var share = '{{ share.id }}';
   	var subpath = {% if subdir %}'{{ subdir }}' {% else %} null {% endif %};
	var rsync_url = '{{rsync_url}}';
</script>
<script src="{% static "js/share/main.js" %}"></script>
{% endblock%}