{% extends "base.html" %}

{% block head %}
{{block.super}}
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery_upload/css/jquery.fileupload-ui.css">
{% endblock %}

{% block title %}Share contents{% endblock %}

{% block content %}
  <p>
    {{ path }}
  </p>
  <p>
    {{ share }}
  </p>
  <p>
    {{ subdir }}
  </p>
  <!-- The fileinput-button span is used to style the file input field as button -->
    <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress progress-success progress-striped">
        <div class="bar"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
  <!-- End file upload -->
  
  <table class="table table-striped table-condensed">
  <thead><tr><th>Name</th><th>Size</th></tr></thead>
  {% if subdir %}
 	<tr class="directory"><td><a href="../"><i class="fam-folder"></i>../</a></td><td></td></tr>
  {% endif %}
  {% for dir in directories %}
	<tr class="directory"><td><a href="{{dir.name}}"><i class="fam-folder"></i>{{ dir.name }}</a></td><td></td></tr>    
  {% endfor %}
  {% for file in files %}
	<tr class="file"><td><i class="fam-page-white"></i>{{ file.name }}</td><td>{{ file.size }}</td></tr>    
  {% endfor %}
  </table>

{% endblock %}

{% block scripts %}
{{block.super}}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{STATIC_URL}}lib/jquery_upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{STATIC_URL}}lib/jquery_upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{STATIC_URL}}lib/jquery_upload/js/jquery.fileupload.js"></script>
<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    // Change this to the location of your server-side upload handler:
    {% if subdir %}
    var url = '{% url 'upload_file' share=share subdir=subdir %}';
    {% else %}
   	var url = '{% url 'upload_file' share=share %}';
    {% endif %}
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo('#files');
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        }
    });
});
</script>
{% endblock%}