{% extends "base.html" %}
{% load static %}
{% load compress %}

{% block title %}Share links{% endblock %}
{% block content %}
  <h3>{{share.name}} ({{share.id}}) Symlinks</h3>
  <div class="alert alert-warning">
    <br>Last checked: {{share.last_checked}}
    <br>Symlinks found: {{share.symlinks_found}}
    {% if share.illegal_path_found %}
    <br>Illegal path found: {{share.illegal_path_found}}{% if message %} - {{message}} {% endif %}
    {% endif %}
    <h4>Symlinks</h4>
      <table class="table">
        <tr><th>Source</th><th>Destination</th><th>Depth</th><th>Warning</th></tr>
        {% for link in symlinks %}
          <tr><td>{{link.path}}</td><td>{% if link.warning %}<b><i class="icon-warning-sign"></i>{{link.target}}</b>{% else %}{{link.target}}{% endif %}</td><td>{{link.depth}}</td><td>{{link.warning}}</td></tr>
        {% endfor %}
      </table>
  </div>
  {% include 'share/logs.html' %}
{% endblock %}
{% block scripts %}
{{block.super}}
{% compress js %}
<script src="{% static "js/services/ng-table-services.js" %}"></script>
<script src="{% static "js/controllers/share-controller.js" %}"></script>
{% endcompress %}
{% endblock%}

