{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create a share{% endblock %}

{% block content %}
<h1 class="h3 mb-3">Create a new share{% if group %} for group "{{ group }}"{% endif %}</h1>

{% if share %}
<div class="alert alert-info">
    This will create a new share from the '{{ subdir }}' directory of the
    <a href="{% url 'list_directory' share.slug_or_id %}">{{ share.name }}</a> share.
    File changes are reflected in both shares. Permissions assigned to each share
    only affect access to the files reachable from that share.
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

<form method="POST" action="" class="border rounded bg-white p-3">
    {% csrf_token %}
    {% crispy form %}
    <button type="submit" class="btn btn-primary">Create share</button>
</form>
{% endblock %}
