{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create a share{% endblock %}

{% block content %}
  <p>
  <form class="form-horizontal" method="POST">
  <fieldset>
	  <legend>Create a new Share</legend>
	  {% if share %}
	  	<p>
		  	This will create a new share from the '{{subdir}}' directory from the <a href="{% url 'list_directory' share.id %}">{{share.name}}</a> share.
		  	Please note that any file changes in this share will be reflected in the original share, and vice-versa.  
		  	Permissions assigned for each share will only effect access to the files accessible from that share. 
	  	</p>
	  {% endif %}
	  {% if error %}<h3>Exception: {{error}}</h3>{% endif %}
	    {{ form|crispy }}
	  <div class="control-group">
	    <div class="controls">
	    	<button type="submit" class="btn">Create</button>
	    </div>
	  </div>
  </fieldset>
  {% csrf_token %}
  </form>
  </p>
{% endblock %}