{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}
{% block title %}Permissions: {{share.name}}{% endblock %}

{% block content %}
<style>
.verticalText
{
text-align: center;
vertical-align: middle;
width: 20px;
margin: 0px;
padding: 0px;
padding-left: 3px;
padding-right: 3px;
padding-top: 10px;
white-space: nowrap;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
}
table.permissions{
margin-top: 50px;
}
table.permissions tr td{
border: thin solid #ccc;
text-align:center;
}
table.permissions tr td input{
margin:0px;
}
table.permissions tr.modified{
background-color:yellow;
}
</style>

<h1>Permissions: <a href="{% url 'list_directory' share.id %}">{{share.name}}</a></h1>
<div class="row">
  <div class="span5">
    <legend>General Settings</legend>
 	<label class="checkbox" data-toggle="tooltip" title="If this is not selected, anyone with the URL may view or download files."><input id="secure" type="checkbox" {% if share.secure %}checked{%endif%}/>Secure share</label>
  	<button class="btn" id="updateGeneralSettings">Update</button>
  </p>

 <legend>User Permissions</legend>
 <textarea id="addUser" class="no-margin" type="text" placeholder="joe@example.com, susan@example.com, ..." style="width:400px;height:100px;"></textarea><br><button id="addUserButton" class="btn">Add</button>

<div id="user-permission-section" style="display:none">
<table id="user_permissions" class="permissions">
<thead>
<tr><th>User</th><th><div class="verticalText">Browse</div></th><th><div class="verticalText">Download</div></th><th><div class="verticalText">Write</div></th><th><div class="verticalText">Delete</div></th><th><div class="verticalText">Administer</div></th></tr>
</thead>
<tbody>
<!-- <tr><td>Username</td><td><input type="checkbox"></td><td><input type="checkbox"></td><td><input type="checkbox"></td></tr> -->
</tbody>
</table>
<label class="checkbox" data-toggle="tooltip" title="Email users who previously had no permissions.  Users who already had permissions will not be emailed.  Newly created accounts will receive emails regardless of this setting."><input id="email_users" type="checkbox" checked/>Send email</label>
<button class="btn" id="updateUserPermissions">Update</button>
<!--<br><br><br>
<legend>Group Permissions</legend>
<input id="addGroup" type="text" placeholder="Group name" class="no-margin"><button id="addGroupButton" class="btn btn-small">Add Group</button>
<table id="group_permissions" class="permissions">
<thead>
<tr><th>Group</th><th><div class="verticalText">Browse</div></th><th><div class="verticalText">Download</div></th><th><div class="verticalText">Write</div></th><th><div class="verticalText">Delete</div></th><th><div class="verticalText">Administer</div></th></tr>
</thead>
<tbody>
</tbody>
</table>
<button class="btn" id="updateGroupPermissions">Update</button>
 -->
</div>
</div>
  <div class="span7"><div id="messages"></div></div>
</div>
{% endblock %}

{% block scripts %}
{{block.super}}
<script>
var get_permissions_url = '{% url 'api_get_permissions' share=share.id %}';
var set_permissions_url = '{% url 'api_set_permissions' share=share.id %}';
var share_with_emails_url = '{% url 'api_share_with_emails' %}';
var get_group_url = '{% url 'api_get_group' %}';
var update_share_url = '{% url 'api_update_share' share=share.id %}'; 

</script>
<script src="{% static "lib/textcomplete/jquery.textcomplete.min.js" %}"></script>
<script src="{% static "js/share/permissions.js" %}"></script>
{% endblock %}